<div class = "side-bar-header">

  <div class ="user-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>

  <div class ="create-chat-room">
    <a href = "#">チャットを作成する</a>
  </div>  

</div>

<div class = "side-bar-chat-names-room">
  <div class = "room">
    <div class ="chat-name">
      <a href = "#">techroom1</a>
    </div>
  </div>

  <div class ="room">
    <div class ="chat-name">
      <a href = "#">techroom2</a>
    </div>
  </div>
</div>